# Summary parsing using Flair & Classification of our characters

In this notebook, we are going to:
- cycle through all summaries in the `plot_summaries.txt` file and count the number of occurences of each character name inside
- use this data to classify the characters present inside of the `character.metadata.tsv` file into three categories:
    - **Primary:** the character name takes up over 10% of all mentioned characters
    - **Secondary:** the character name takes up less than 10% of all mentioned characters
    - **Missed:** the character name is not mentioned in the movie summary at all

### Library imports

In [57]:
import pandas as pd
import numpy as np
import ast
import missingno as msno
from geopy.geocoders import Nominatim
import geopandas as gpd
import re
import pycountry_convert as pc
from itertools import combinations
import matplotlib.pyplot as plt
import seaborn as sns

import dataframes as RAW

In [58]:
from flair.nn import Classifier
from flair.data import Sentence

# Load the model
tagger = Classifier.load('ner-fast')

2023-12-12 19:08:05,613 SequenceTagger predicts: Dictionary with 20 tags: <unk>, O, S-ORG, S-MISC, B-PER, E-PER, S-LOC, B-ORG, E-ORG, I-PER, S-PER, B-MISC, I-MISC, E-MISC, I-ORG, B-LOC, E-LOC, I-LOC, <START>, <STOP>

### Useful functions

The function `extract_character_names_flair` takes a string (which can be one of the summaries) and goes through all the words inside. If the word is considered a name, then it is appended to a list. The list of names is returned at the end of the function.

The function `count_appearances` takes a large string (it can be the summary) and a list of strings (it can be the list of characters found with the first function), and counts the number of times all strings in the list appear in the large text. The function returns a dictionary with the strings from the list and their occurence count inside of the large text.

These two functions will be used in the following way for all summaries:
- Use `extract_character_names_flair` to identify all character names inside
- Use `count_appearances` to count the number of appearances of all character names in the summary.

In [59]:
def extract_character_names_flair(summary):
    # Create a Flair Sentence
    sentence = Sentence(summary)

    # Run NER on the sentence
    tagger.predict(sentence)

    # Extract character names (NER tags labeled as PER, indicating a person)
    character_names = []

    for entity in sentence.get_spans('ner'):
        if entity.tag == 'PER':
            character_names.append(entity.text)

    return character_names

def count_appearances(larger_string, string_list):
    # Initialize an empty dictionary to store counts
    appearances_dict = {}

    # Iterate over each string in the list
    for search_string in string_list:
        # Count occurrences using the count() method (we convert to lowercase to avoid missing any occurence)
        count = larger_string.lower().count(search_string.lower())
        
        # Store the count in the dictionary
        appearances_dict[search_string] = count

    return appearances_dict

### Summary parsing

First, let us import the summary data:

In [60]:
summaries = RAW.summaries.copy()
summaries.head()

    Wiki ID                                            Summary
0  23890098  Shlykov, a hard-working taxi driver and Lyosha...
1  31186339  The nation of Panem consists of a wealthy Capi...
2  20663735  Poovalli Induchoodan  is sentenced for six yea...
3   2231378  The Lemon Drop Kid , a New York City swindler,...
4    595909  Seventh-day Adventist Church pastor Michael Ch...

Now, we can use the two functions mentionned above to cycle through all summaries and create the character appearance dictionaries:

In [61]:
# Grab a subset of the data (it takes about 8h for 10,000 summaries)
sub_summaries = summaries.iloc[:100, :].copy()

parsing_results = []

for index, row in sub_summaries.iterrows():
    # Print the index to keep track of where we are in the parsing
    print(index)

    # Extract the names from the summary
    names = set(extract_character_names_flair(row['Summary']))

    # Count the appearances of every name
    counts = count_appearances(row['Summary'], names)

    # Append the dictionary to the result list
    parsing_results.append(counts)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

The list `parsing_results` will now contain all the dictionaries from the character counting. In order to have a better wiew of the distribution of the characters in each movie summary, we can rank the dictionaries in descending order (to get the most common names at the beginning):

In [62]:
parsing_results = [
    {k: v for k, v in sorted(d.items(), key=lambda item: item[1], reverse=True)}
    for d in parsing_results
]

sub_summaries['Characters'] = parsing_results

Here is the resulting dataframe:

In [63]:
sub_summaries

,Wiki ID,Summary,Characters
0,23890098,"Shlykov, a hard-working taxi driver and Lyosha...","{'Shlykov': 1, 'Lyosha': 1}"
1,31186339,The nation of Panem consists of a wealthy Capi...,"{'Katniss': 24, 'Peeta': 16, 'Rue': 11, 'Cato'..."
2,20663735,Poovalli Induchoodan is sentenced for six yea...,"{'Induchoodan': 18, 'Menon': 12, 'Manapally': ..."
3,2231378,"The Lemon Drop Kid , a New York City swindler,...","{'Kid': 35, 'Charley': 18, 'Moran': 8, 'Nellie..."
4,595909,Seventh-day Adventist Church pastor Michael Ch...,"{'Lindy': 7, 'Michael': 4, 'Azaria': 4, 'Chamb..."
...,...,...,...
95,17060199,"Claire, a mild-mannered parking attendant, liv...","{'Claire': 19, 'Jay': 15}"
96,7481126,The film centres on a group of classmates who ...,"{'Sukumaran': 5, 'Murali': 3, 'Vasu': 2, 'Pius..."
97,9031450,A young woman named Hyun-chae is on train look...,"{'Hyun-chae': 4, 'Chae-hyun': 1, 'Dong-ha': 1,..."
98,1520023,Ninja Resurrection takes place in the Tokugawa...,"{'Jubei': 63, 'Shiro': 27, 'Mataemon': 16, 'Mu..."
99,14582951,"It is the late 1970s, and smuggler David Swans...","{'Swansey': 6, 'Marunga': 4, 'David Swansey': ..."

In [68]:
sub_summaries.iloc[32,:]

Wiki ID                                                18549958
Summary       Mary was a lonely and poor child, from a famil...
Characters                                          {'Mary': 6}
Name: 32, dtype: object

In [64]:
sub_summaries.to_csv('parsing.csv', index=False)

### Character classification

Now, the goal is to classify all characters from the character data into three roles: Primary, Secondary and Missed (explained earlier). First, let us import the data and add a `Role` column (filled with NaN values):

In [65]:
characters = RAW.character_data.copy()
characters['Role'] = np.nan
characters.head()

,Wiki ID,Freebase ID,Release date,Character name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor name,Actor age at release,Map ID,Character ID,Actor ID,Role
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7,NaN
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4,NaN
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l,NaN
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc,NaN
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg,NaN

Now, we will classify the characters:

- First version: characters who take up over 10% of all names are primary and the rest are secondary (many characters are classified)

In [66]:
'''

for index, row in sub_summaries.iterrows():
    print(index)

    # Wiki ID of the movie to consider
    wiki_id = row['Wiki ID']

    # Dictionary of the parsing results for this movie
    parsing_result = row['Characters']

    # All characters who belong to this movie
    sub_characters = characters[characters['Wiki ID'] == wiki_id]
    
    # If the movie features actors inside of the character dataframe then proceed
    if not(sub_characters.empty):
        for i, r in sub_characters.iterrows():
            # Take one of the characters
            character = r['Character name']

            # If the considered character has a valid name then proceed
            if not(pd.isna(character)):
                # Split the character in all of its words (name, surname, etc)
                split_character_name = character.split()

                count = 0
                total = 0

                for key, value in parsing_result.items():
                    # Add all values to the total
                    total += value

                    for item in split_character_name:
                        if item in key:
                            # If we find a match then add to the count and stop (to avoid counting twice)
                            count += value
                            break
                    
                if total != 0:
                    # Compute ratio
                    ratio = count / total
                else:
                    # Empty dictionary: the character is a miss
                    ratio = 0

                if ratio > 0.1:
                    # Primary character: appears 10% of the time or more
                    characters.loc[(characters['Character name'] == character) & (characters['Wiki ID'] == wiki_id), 'Role'] = 'Primary'

                elif ratio <= 0.1 and ratio > 0:
                    # Secondary character: appears less than 10%
                    characters.loc[(characters['Character name'] == character) & (characters['Wiki ID'] == wiki_id), 'Role'] = 'Secondary'

                else:
                    # None: The character was not mentioned in the summary
                    characters.loc[(characters['Character name'] == character) & (characters['Wiki ID'] == wiki_id), 'Role'] = 'Missed'

'''

"\n\nfor index, row in sub_summaries.iterrows():\n    print(index)\n\n    # Wiki ID of the movie to consider\n    wiki_id = row['Wiki ID']\n\n    # Dictionary of the parsing results for this movie\n    parsing_result = row['Characters']\n\n    # All characters who belong to this movie\n    sub_characters = characters[characters['Wiki ID'] == wiki_id]\n    \n    # If the movie features actors inside of the character dataframe then proceed\n    if not(sub_characters.empty):\n        for i, r in sub_characters.iterrows():\n            # Take one of the characters\n            character = r['Character name']\n\n            # If the considered character has a valid name then proceed\n            if not(pd.isna(character)):\n                # Split the character in all of its words (name, surname, etc)\n                split_character_name = character.split()\n\n                count = 0\n                total = 0\n\n                for key, value in parsing_result.items():\n                    # Add all values to the total\n                    total += value\n\n                    for item in split_character_name:\n                        if item in key:\n                            # If we find a match then add to the count and stop (to avoid counting twice)\n                            count += value\n                            break\n                    \n                if total != 0:\n                    # Compute ratio\n                    ratio = count / total\n                else:\n                    # Empty dictionary: the character is a miss\n                    ratio = 0\n\n                if ratio > 0.1:\n                    # Primary character: appears 10% of the time or more\n                    characters.loc[(characters['Character name'] == character) & (characters['Wiki ID'] == wiki_id), 'Role'] = 'Primary'\n\n                elif ratio <= 0.1 and ratio > 0:\n                    # Secondary character: appears less than 10%\n                    characters.loc[(characters['Character name'] == character) & (characters['Wiki ID'] == wiki_id), 'Role'] = 'Secondary'\n\n                else:\n                    # None: The character was not mentioned in the summary\n                    characters.loc[(characters['Character name'] == character) & (characters['Wiki ID'] == wiki_id), 'Role'] = 'Missed'\n\n"

- Second version: the most common character is primary and the second most is secondary (only 2 characters are classified and there are no 'Missed' category)

In [78]:
for index, row in sub_summaries.iterrows():
    print(index)

    # Wiki ID of the movie to consider
    wiki_id = row['Wiki ID']

    # Dictionary of the parsing results for this movie
    parsing_result = row['Characters']

    # All characters who belong to this movie
    sub_characters = characters[characters['Wiki ID'] == wiki_id]

    primary = None
    secondary = None

    most = -1
    second_most = -1
    
    # If the movie features actors inside of the character dataframe then proceed
    if not(sub_characters.empty):
        for i, r in sub_characters.iterrows():
            # Take one of the characters
            character = r['Character name']

            # If the considered character has a valid name then proceed
            if not(pd.isna(character)):
                # Split the character in all of its words (name, surname, etc)
                split_character_name = character.split()

                count = 0
                total = 0

                for key, value in parsing_result.items():
                    # Add all values to the total
                    total += value

                    for item in split_character_name:
                        if item in key:
                            # If we find a match then add to the count and stop (to avoid counting twice)
                            count += value
                            break
                    
                if total != 0:
                    # Compute ratio
                    ratio = count / total
                else:
                    # Empty dictionary: the character is a miss
                    ratio = 0

                # Found a new character that appears more often than the current first
                if ratio > most:
                    # Current first becomes second
                    second_most = most
                    secondary = primary

                    # New character gats first place
                    most = ratio
                    primary = character

                else:
                    # Found a new character that appears as often as the current first and there are still no second most
                    if ratio == most and secondary == None:
                        second_most = ratio
                        secondary = character

                    # Found a new character that appears less often than the current first and more often than the current second
                    if ratio < most and ratio > second_most:
                        second_most = ratio
                        secondary = character

        # Check that the primary and secondary characters are valid and assign the role if correct
        # - if we couldn't classify both a primary and a secondary character then the movie is not useful
        # - if the character name classified as primary matches with the most appearing name in the summary then it's good
        # - same for secondary

        keys = list(parsing_result.keys())
        i = 0

        assign_primary = False
        assign_secondary = False
        
        if len(keys) >= 1 and primary != None:
            if keys[i] in primary:
                assign_primary = True

            still_in_key = (keys[i] in primary)
            while still_in_key and (i < len(keys)):
                i += 1

        if i < len(keys) and secondary != None:
            if keys[i] in secondary:
                assign_secondary = True

        if assign_primary and assign_secondary:
            characters.loc[(characters['Character name'] == primary) & (characters['Wiki ID'] == wiki_id), 'Role'] = 'Primary'
            characters.loc[(characters['Character name'] == secondary) & (characters['Wiki ID'] == wiki_id), 'Role'] = 'Secondary'

0
['Shlykov', 'Lyosha']
2
None
None
1
['Katniss', 'Peeta', 'Rue', 'Cato', 'Haymitch', 'Crane', 'Clove', 'Snow', 'Thresh', 'Seneca Crane', 'Glimmer', 'Marvel', 'Haymitch Abernathy', 'Peeta Mellark', 'Caesar Flickerman', 'Primrose Everdeen']
16
Katniss Everdeen
Peeta Mellark
0
Katniss
2
['Induchoodan', 'Menon', 'Manapally', 'Indulekha', 'Pavithran', 'Nambiar', 'Manapally Pavithran', 'Anuradha', 'Justice Menon', 'Manapally Madhavan Nambiar', 'Raman Nair', 'Chandrabhanu', 'Mooppil Nair', 'Saikumar', 'Justice Maranchery Karunakara Menon', 'Moopil Nair', 'Ramakrishnan', 'Manapally Sudheeran', 'Poovalli Induchoodan', 'Aishwarya', 'Jayakrishnan', 'DYSP Sankaranarayanan', 'Kanaka', 'Nandagopal Maarar']
24
Marancheri Induchoodan
M.K. Menon
0
Induchoodan
3
['Kid', 'Charley', 'Moran', 'Nellie', 'Brainy', 'Nellie Thursday', 'Moose Moran', 'Oxford" Charley', 'Henry', 'Brainy Baxter']
10
None
None
4
['Lindy', 'Michael', 'Azaria', 'Chamberlains', 'Michael Chamberlain']
5
Lindy Chamberlain
Michael Chamberlain
0
Lindy
5
['Thomas', 'Baldwin', 'Kate', 'Steven', 'Stevens', 'Alex', 'Jack Baldwin', 'Agent Thomas', 'Alex Thomas', 'Crawford', 'Kate Crawford', 'Vaughan Stevens']
12
Kate Crawford
Vaughn Stevens
0
Thomas
6
['Dahlia', 'Cecilia', 'Natasha', 'Kyle', 'Veeck', 'Murray', 'Hello Kitty', 'Rimsky']
8
Dahlia
Ceci
0
Dahlia
7
['Hannah', 'Dominic', 'Miss Lombardo', 'Mickey']
4
Miss Lombardo
None
0
Hannah
8
['Doe', 'John Doe', 'Mitchell', 'Willoughby', 'Norton', 'Connell', 'Henry Connell', 'Ann Mitchell', 'D.B. Norton', 'Hanson', 'Edward Arnold', 'John Willoughby', 'Jesus Christ']
13
Long John Willoughby - 'John Doe'
Ann Mitchell
0
Doe
9
10
['Bo', 'Lola', 'Nikki', 'Simona', 'Marco', 'Dotty', 'Victor', 'Nina']
8
Lola
Marco
0
Bo
11
['Eman', 'Goran', 'Lubos', 'Frantisek', 'Miluska']
5
Eman
Frantisek Fikes
0
Eman
12
['Spike Milligan']
1
Ras Mohammed
None
0
Spike Milligan
13
['Ari', 'Akiva', 'Dov', 'Karen', 'Kitty', 'Taha', 'Gan Dafna', 'Dov Landau', 'Ari Ben Canaan', 'Barak', 'Mohammad Amin al-Husayni', 'Katherine "Kitty" Fremont', 'Karen Hansen']
13
Ari Ben Canaan
Dov Landau
0
Ari
14
['Kid', 'Play', 'Shelia', 'Miles', 'Bilal', 'Rick', 'Lee', 'Dean', 'Jamal', 'Zilla', 'Shelia Landreaux', 'Salena', 'Zora', 'Dean Kramer', 'Stab', 'Pop', 'Sinclair', 'Pee Wee', "Kid N'Play", "Kid N'Play's", 'Pee-Wee', 'Shelia Kid', 'Pops']
23
Bilal
Sheila Landreaux
0
Kid
15
['Lucy']
1
None
None
16
['Lowell', 'Colby', 'Alan Colby', 'Lowells', 'Henrietta Lowell', 'Phelps', 'Bowen', 'Ulrich', 'Fred', 'Janice Gage']
10
Henrietta Lowell
Fred Gage
0
Lowell
17
['Chris', 'Debbie', 'Chris Trousdale']
3
Debbie Worden
Ashley
0
Chris
18
['Gabriel', 'Valentino', 'Arabella', 'Michael', 'Laundrymen’', 'Enrico', 'Nelson', 'Arabella Simone', 'Laundrymen’ Muhammed', 'Enrico Tarontola', 'Gabriel Darbeaux', 'Valentino Tarantola']
12
Gabriel Darbeaux
Valentino Tarontola
0
Gabriel
19
['Tai', 'Duc', 'Minh', 'Jim Lance', 'Thuy Hoa', 'Addie', 'Tai Tran']
7
Addie
Gunnery Sergeant Jim Lance
0
Tai
20
['Bluey', 'Milo', 'Peter', 'Peter Linton', 'Kate', 'Squatter', 'Mary', 'Kate Carmody', 'Milo Trent', 'Bluey Donkin']
10
None
None
21
22
23
['Lucius']
1
George Armstrong Custer
Devin O'Neil
0
Lucius
24
['Zachariah', 'Murumu', 'Vinah', 'Marumu']
4
None
None
25
['Madhav', 'Sreenu', 'Amrutha', 'Holi']
4
Madhav
Amrutha
0
Madhav
26
['Bhagwaan', 'Shambu', 'Swaroop', 'Bijli', 'Govinda', 'Madhu', 'Shambu Dada', 'Geeta', 'Father', 'Vijay', 'Bijli’', 'dada’ Shambu', 'Bhagwaan Dada']
13
Bhagwaan Dada
Madhu
0
Bhagwaan
27
[]
0
Moe
None
28
['Patel', 'Roger', 'Ritu', 'Namrata', 'Kamla', 'Sunder Kapoor', 'Prem', 'la Donald Trump', 'Roger Patel', 'Ritu Patel', 'Ranchhod Rai Patel']
11
Kamla Patel
Sunder Kapoor
0
Patel
29
['Anita', 'Preetam', 'Sita', 'Sita Devi']
4
Anita Verma
Preetam Kumar
0
Anita
30
['Samson', 'Delilah', 'Saran', 'Ahtur', 'Semadar', 'Dannites', 'Miriam', 'Nazirite', 'Saul']
9
Samson
Delilah
0
Samson
31
[]
0
None
None
32
['Mary']
1
Mary Groda-Lewis
None
0
Mary
33
['Ben', 'Beth', 'Vincent', 'Sam', 'Cappadora', 'Kerry', 'Jonathan Jackson', 'Pat', 'Beth Cappadora']
9
Sam Karras / Ben Cappadora - Age 12
Ben Cappadora - Age 3
0
Ben
34
['Timmy', 'Kendall', 'Dean', 'Bracken', 'Mary', 'David Harley Tormented', 'Mary Riggs', 'Holden']
8
Kendall
Mary Riggs
0
Timmy
35
['Matt', 'Harry', 'Mark', 'Kay', 'Sam Benson', 'Dave Colby', 'Harry Weston', 'Matt Calder']
8
Matt Calder
Kay Weston
0
Matt
36
['Perozzi', 'Mascetti', 'Melandri', 'Titti', 'Righi', 'Necchi', 'Sassaroli', 'Madonna']
8
None
None
37
['Porky', 'Daffy', 'Porky Pig', 'Daffy Duck']
4
Porky Pig
Daffy Duck
0
Porky
38
['Jason', 'Frances']
2
Frances
Tad Tokas
0
Jason
39
['Mickey']
1
None
None
40
['Cao', 'Cao Cao', 'Zhuge', 'Zhuge Liang', 'Zhou', 'Zhou Yu', 'Liu', 'Sun Quan', 'Liu Bei', 'Xian', 'Cai Mao', 'Zhang Yun', 'Sun Shangxiang', 'Jiang', 'Woo', 'Xiaoqiao', 'Jiang Gan', 'Zhao Yun', 'Xiahou Jun', 'David Stratton', 'John Woo', 'Hou Yong', 'Cao Hong', 'Zhang Fei', 'Lu Su', 'Guan Yu']
26
Zhou Yu
Zhuge Liang
0
Cao
41
['Bad', 'Good']
2
The Bad
The Good
0
Bad
42
['Nikolai', 'Semyon', 'Anna', 'Kirill', 'Stepan', 'Tatiana', 'Azim', 'Christine', 'Nikolai Luzhin', 'Anna Khitrova', 'Helen']
11
Nikolai
Semyon
0
Nikolai
43
['Betty Boop', 'Koko']
2
None
None
44
45
['Kishen', 'Bobby', 'Prem', 'Sanjana', 'Shekhar', 'Kaajal', 'Pooja']
7
Prem
Shekhar 'Sunny'
0
Kishen
46
['Tahaan', 'Subhan', 'Birbal', 'Zafar', 'Idrees', 'Subhan Darr', 'Zoya', 'Haba']
8
Subhan Daar
Zafar
0
Tahaan
47
['Nadja Uhl', 'Roland Feldberg', 'Christian Ulmen', 'Justus von Dohnányi', 'Günther Stobanski', 'Jerome Ades', 'Maxim Mehmet', 'Til Schweiger', 'Wotan Wilke Möhring', 'Philip Henrion', 'Niklas Michalke', 'Susanne Feldberg', 'Florian David Fitz', 'Bruce Berger']
14
Roland Feldberg
Bruce Berger
0
Nadja Uhl
48
['Honeywagon', 'Dee Dee', 'Frankie', 'Clyde', 'Harvey Huntington Honeywagon III', 'Peter Royce Bentley']
6
Frankie  / Potato Bug
Big Drag
0
Honeywagon
49
['Conqueror', 'Cloud', 'Wind', 'Lord Conqueror', 'Mud Buddha']
5
Muse
None
0
Conqueror
50
['Harmon Cobb']
1
Harmon Cobb
Nancy
0
Harmon Cobb
51
['Porky', 'Dobbin', 'Hank', 'Mr. Viper', 'Hank Horsefly']
5
None
None
52
['Odile', 'Serge Karamazov', 'Odile Deray', 'Patrick Bialès', 'Simon Jérémi']
5
Odile Deray
Serge Karamasov
0
Odile
53
['Ardell Kendall', 'Gustaf Borgstrom', 'Donald Dillingham']
3
None
None
54
['Chester', 'Roderick', 'Fyodor', 'Helen', 'Narcissa', 'Lady Port-Huntley', 'Roderick Kent', 'Teddy', 'Fyodor Kent']
9
Lady Helen Port-Huntley
None
0
Chester
55
[]
0
None
None
56
['Oliver', 'Dodge', 'Donsky', 'Seth Michael Donsky', 'Oliver Twist', 'Tierney']
6
Oliver Twist
The Artful Dodger
0
Oliver
57
['Gordon', 'Carter', 'Brennan', 'Karloff', 'Joel', 'Nieterstein', 'John Carter', 'William Brennan', 'Joel Carter', 'Olivia Karloff', 'Gregory', 'Nicholas Nieterstein', 'William Gordon']
13
Lt. William 'Bill' Gordon / Anson Meridan
Joel Carter
0
Gordon
58
['Mose', 'Caballero', 'Walsh', 'Betty', 'Seamus Walsh', 'Harry Reser', 'Mark Caballero']
7
None
None
59
['Jada', 'Michael', 'Killjoy', 'Lorenzo', 'Baby Boy', 'T-Bone', 'Jamal', 'Monique', 'Ray', 'Tamara', 'Kahara', 'Ray Jackson', 'Michael/Killjoy']
13
None
None
60
['Quincey', 'Rawdon', 'Miranda', 'Jack', 'Kimberly', 'Philippe', 'Dad', 'Uncle Jack', 'Sam', 'Husband', 'Paula', 'Mommy']
12
Quincey
Miranda
0
Quincey
61
['Bhavana', 'Diya', 'Sonia', 'Veer Saxena', 'Lucky Bhai', 'Rekha', 'Madhuri', 'Aryan Kapoor', 'Raj Mittal']
9
Advocate Sonia
Raj
0
Bhavana
62
['Nirmal', 'Satyavati', 'Babu', 'Usha', 'Janaki', 'Melancholic', 'Karthik', 'Rajagopal']
8
None
None
63
['Wile', 'Wile E', 'Wile E.', 'Ross', 'Wile E. Coyote', 'Charlie Chaplin']
6
None
None
64
['Michael', 'Ellen', 'Jake', 'Hoagie', 'Sean', 'Thea', 'Ellen Brody', 'Carla', 'Margaret', 'Clarence', 'William', 'Michael&nbsp', 'Carla Brody', 'Tiffany', 'Karen Young', 'Martin Brody']
16
Michael Brody
Ellen Brody
0
Michael
65
['Sagar', 'Rosario', 'Rosarios', 'Manu', 'Indu', 'Naina', 'Imran', 'Arati', 'Hari', 'Sagar Alias Jacky', 'Nanthakrishna Naina', 'Suman']
12
Sagar Alias Jacky
Manu
0
Sagar
66
['Doc', 'Jimmy', 'Joan', 'Evelyn', 'Bellamy', 'Ralph Bellamy', 'Mickey Rooney']
7
None
None
67
['Antonio', 'Teresa']
2
None
None
68
['Hasson', 'Constanza', 'Moked', 'Yaeli', 'Shamgar', 'Sergio', 'Shifra', 'Wasserman', 'Sergio Constanza', 'Victor Hasson', 'Shifra Hasson', 'Raphael "Jinji" Moked']
12
None
None
69
['Rachel', 'Jason', 'Sarah']
3
Sarah Bennett
None
0
Rachel
70
['Francisco']
1
Boy
Mother
0
Francisco
71
72
['Schmidt', 'Randall', 'Jeannie', 'Ndugu', 'Helen', 'Roberta', 'Warren Schmidt', 'Randall Hertzel', 'Ndugu Umbo']
9
Jeannie Schmidt
Helen Schmidt
0
Schmidt
73
['Bandini', 'Svevo Bandini']
2
None
None
74
['Stephen', 'Ho', 'Boss', 'McCarger', 'Hester', 'Don', 'Hester Adams', 'J.T. McCarger', 'Stephen Chase', 'John Eldredge', 'Jean Muir', 'Alice Wellman', 'Chases']
13
None
None
75
['Littlefoot', 'Hyp', 'Mutt', 'Cera', 'Grandpa']
5
None
None
76
['Fletcher', 'Max', 'Audrey', 'Jerry', 'Samantha', 'Miranda', 'Justin Cooper', 'Fletcher Reede', 'Greta', 'Samantha Cole']
10
Fletcher Reede
Max Reede
0
Fletcher
77
['Charlotte', 'Miriam', 'Mayhew', 'Drew', 'Velma', 'John', 'Jewel', 'Hollis', 'Willis', 'Jewel Mayhew', 'John Mayhew', 'Drew Bayliss', 'Charlotte Hollis']
13
Charlotte Hollis
Miriam Deering
0
Charlotte
78
[]
0
Captain John Holmes
None
79
['Bobbi']
1
None
None
80
['Jean', 'Malou', 'Destiny', 'Jean Diego', 'Raymond']
5
Jean Diego
Malou
0
Jean
81
['Jones', 'Robeson', "O'Neill's", 'Brutus Jones', 'Smithers', 'Dolly', "Smithers'", 'Jeff']
8
None
None
82
83
['Murray', 'Carter']
2
None
None
84
['Randy', 'Evie', 'Rebecca', 'Wendy', 'Evelyn', 'Vicky', 'Frank', 'Ali', 'Lena', 'Maggenti', 'Rita Mae Brown', 'Evie Roy', 'God', 'Randy Dean', 'Walt Whitman']
15
None
None
85
['Betty', 'Pudgy', 'Uncle Max']
3
None
None
86
['Pierre', 'Cybèle', 'Madeleine', 'Bernard']
4
None
None
87
[]
0
None
None
88
['Karthik', 'Chitra', 'Shiva', 'Srikanth', 'Karthikeyan']
5
Chitra
Srikanth
0
Karthik
89
['Joan', 'Carl Theodor', 'God']
3
Jeanne d'Arc
Évêque Pierre Cauchon (Bishop Pierre Cauchon)
0
Joan
90
['Abbas', 'Rajveer', 'Nazir', 'Sapna', 'Rajveer Singh', 'Abbas Khan']
6
Rajveer Singh
Sapna Khanna
0
Abbas
91
['Katherine', 'Mize', 'Katherine Sullivan', 'Jack Mize']
4
Katherine Sullivan
Jack Mize
0
Katherine
92
['Badki', 'Chutki', 'Rohan', 'Shivshankar', 'Vivaan', 'Sabitri', 'Shivshankar Sahay', 'Natasha', 'Vaibhavari Sahay', 'Shubhavari Sahay']
10
Rohan Varma
Subhavari Sahay
0
Badki
93
['Anton', 'Yegor', 'Svetlana', 'Zavulon', 'Geser', 'Alisia', 'Olga', 'Kostya', 'Anton Gorodetsky', 'Tamerlane']
10
Anton
Yegor
0
Anton
94
['Sophie', 'Nathan', 'Stingo', 'Wanda', 'Józef', 'Eva', 'Jan', 'Emily Dickinson', 'Sophie Zawistowski', 'Nathan Landau']
10
Nathan Landau
Stingo
0
Sophie
95
['Claire', 'Jay']
2
Claire Barney
Jay Caswell
0
Claire
96
['Sukumaran', 'Murali', 'Vasu', 'Pius', 'Thara', 'Satheesan', 'P. Sukumaran', 'Iyer', 'Narain', 'Thara Kurup', 'Lakshmi Teacher', 'Romeo']
12
P. Sukumaran
Thara Kurup
0
Sukumaran
97
['Hyun-chae', 'Chae-hyun', 'Dong-ha', 'Gustave Caillebette']
4
Lee Dong-ha
Mi-ran
0
Hyun-chae
98
99
['Swansey', 'Marunga', 'David Swansey', 'Gideon Marunga']
4
David Swansey
None
0
Swansey

The characters who still have a NaN value inside of their `Role` column are characters who are not featured inside of their summaries, so they will not be useful. Therefore, we filter the characters who were assigned a role:

In [81]:
result = characters[characters['Role'].notna()]
result

,Wiki ID,Freebase ID,Release date,Character name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor name,Actor age at release,Map ID,Character ID,Actor ID,Role
4633,20663735,/m/051zjwb,2000,M.K. Menon,1935-12-10,M,NaN,/m/0dryh9k,Thilakan,64.0,/m/059t6pp,/m/0h73lnb,/m/02hkvw,Secondary
4639,20663735,/m/051zjwb,2000,Marancheri Induchoodan,1960-05-21,M,1.720,/m/0dryh9k,Mohanlal,39.0,/m/059t6p_,/m/0h8gtfl,/m/02fbpz,Primary
107615,595909,/m/02tqm5,1988-11-03,Michael Chamberlain,1947-09-14,M,1.822,/m/02jvpv,Sam Neill,41.0,/m/02tbjj2,/m/0h2qv0j,/m/01ckhj,Secondary
107616,595909,/m/02tqm5,1988-11-03,Lindy Chamberlain,1949-06-22,F,1.680,NaN,Meryl Streep,39.0,/m/02tb1h6,/m/05z0x_h,/m/0h0wc,Primary
128473,2462689,/m/07ftxt,1941-05-03,Ann Mitchell,1907-07-16,F,1.650,NaN,Barbara Stanwyck,33.0,/m/0k0kbm,/m/0h57bdz,/m/0bw6y,Secondary
128474,2462689,/m/07ftxt,1941-05-03,Long John Willoughby - 'John Doe',1901-05-07,M,1.905,NaN,Gary Cooper,39.0,/m/0k0kbg,/m/0h2svgl,/m/0c2tf,Primary
222412,4596602,/m/0cbs4j,1999-10-11,Gabriel Darbeaux,1964-05-16,M,NaN,NaN,Wayne Gerard Trotman,35.0,/m/0l7pwhl,/m/0l7pwhp,/m/03cckf8,Primary
222419,4596602,/m/0cbs4j,1999-10-11,Valentino Tarontola,NaN,M,NaN,NaN,Chris Gabriel,NaN,/m/0l7qvc1,/m/0l7qvc4,/m/0l7qvcc,Secondary
299941,447194,/m/029jt9,1949-12-21,Delilah,1913-11-09,F,1.700,/m/0ffj5g,Hedy Lamarr,36.0,/m/03jpf27,/m/0h6gc84,/m/016yqj,Secondary
299942,447194,/m/029jt9,1949-12-21,Samson,1913-01-29,M,1.880,NaN,Victor Mature,36.0,/m/03jslrf,/m/0h6gc8f,/m/029135,Primary
363229,31186339,/m/0gkz15s,2012-03-12,Katniss Everdeen,1990-08-15,F,1.750,NaN,Jennifer Lawrence,21.0,/m/0gw7kv0,/m/0c01vfc,/m/02x0dzw,Primary
363230,31186339,/m/0gkz15s,2012-03-12,Peeta Mellark,1992-10-12,M,1.700,NaN,Josh Hutcherson,19.0,/m/0gw7kvp,/m/0c03gdc,/m/08wjf4,Secondary
370621,2254491,/m/06zkgg,1955,Preetam Kumar,1925-07-09,M,NaN,/m/0dryh9k,Guru Dutt,29.0,/m/0k0wcv,/m/0h73xsk,/m/06kxs3,Secondary
370622,2254491,/m/06zkgg,1955,Anita Verma,1933-02-14,F,1.630,/m/09743,Madhubala,21.0,/m/0k0wc_,/m/0h1v51m,/m/02lyrj,Primary

Finally, we store the result inside of a CSV file:

In [ ]:
result.to_csv('character_classification.csv', index=False)